{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block sitebar %}
        <div class="slider-area section-padding-2">
            <!-- <div class="container-fluid"> -->
                <div class="slider-active swiper-container">
                    <div class="swiper-wrapper">
                        {% for slide in slider %}
                        <div class="swiper-slide">
                            <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-1 slider-overly" style="background-image:url({{ slide.bg_image.url }})">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6 offset-lg-6 col-md-7 offset-md-5">
                                            <div class="slider-content-1 slider-animated-1">
                                                <h3 class="animated text-light">{{ slide.sub_title }}</h3>
                                                <h1 class="animated color-big">{{ slide.title }}</h1>
                                                <div class="slider-btn btn-hover">
                                                    <a href="{% url 'main:shop' %}" class="btn animated">
                                                        {% trans "Harid qilish" %} <i class=" ti-arrow-right "></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="home-slider-prev2 main-slider-nav2"><i class="fa fa-angle-left"></i></div>
                        <div class="home-slider-next2 main-slider-nav2"><i class="fa fa-angle-right"></i></div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
        <div class="banner-area section-padding-2 pt-30 pb-70">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <a href="{% url 'main:shop' %}"><img src="/static/assets/images/banner/banner-20.png" alt=""></a>
                            <div class="banner-content-11">
                                <h3>{% trans "Zamonaviy" %}</h3>
                                <h4>{% trans "Mebel" %}</h4>
                                <div class="btn-style-6 btn-hover">
                                    <a href="{% url 'main:shop' %}" class="btn theme-color">
                                        {% trans "Harid qilish" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                            <a href="{% url 'main:shop' %}"><img src="/static/assets/images/banner/banner-21.png" alt=""></a>
                            <div class="banner-content-11">
                                <h3>{% trans "Kalassik" %}</h3>
                                <h4>{% trans "Mebel" %}</h4>
                                <div class="btn-style-6 btn-hover">
                                    <a href="{% url 'main:shop' %}" class="btn theme-color">
                                        {% trans "Harid qilish" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="600">
                            <a href="{% url 'main:shop' %}"><img src="/static/assets/images/banner/banner-22.png" alt=""></a>
                            <div class="banner-content-11">
                                <h3>{% trans "Retro" %}</h3>
                                <h4>{% trans "Mebel" %}</h4>
                                <div class="btn-style-6 btn-hover">
                                    <a href="{% url 'main:shop' %}" class="btn theme-color">
                                        {% trans "Harid qilish" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pb-95">
            <div class="container">
                <div class="section-border section-border-margin-1" data-aos="fade-up" data-aos-delay="200">
                    <div class="section-title-timer-wrap bg-white">
                        <div class="section-title-1">
                            <h2>{% trans "Eng so'ngi" %}</h2>
                        </div>
                    </div>
                </div>
                <div class="product-slider-active-1 swiper-container">
                    <div class="swiper-wrapper">
                        {% for last in latest %}
                        <div class="swiper-slide">
                            <div class="product-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="product-img img-zoom mb-25">
                                    <a href="{% url 'main:detail' last.slug %}">
                                        <img src="{{ last.image.url }}" alt="">
                                    </a>
                                    <div class="product-action-wrap">
                                    </div>
                                    <div class="product-action-2-wrap">
                                        <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>{% trans "Harid qilish" %}</button>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="{% url 'main:detail' last.slug %}">{{ last.name }}</a></h3>
                                    <div class="product-price">
                                        {% if last.old_price %}<span class="old-price">${{ last.old_price }}</span>{% endif %}
                                        <span class="new-price">${{ last.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="product-prev-1 product-nav-1" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-angle-left"></i></div>
                    <div class="product-next-1 product-nav-1" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="banner-area section-padding-2 pb-95">
            <div class="container-fluid">
                <div class="bg-img bg-padding-3" style="background-image:url({{ last.bg_image.url }})">
                    <div class="banner-content-5 banner-content-5-static">
                        <span class="black" data-aos="fade-up" data-aos-delay="200">{{ last.sub_title }}</span>
                        <h1 class="font-montserrat" data-aos="fade-up" data-aos-delay="400">{{ last.title }}</h1>
                        <div class="btn-style-3 btn-hover" data-aos="fade-up" data-aos-delay="800">
                            <a class="btn border-radius-none" href="{% url 'main:shop' %}">{% trans "Harid qilish" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pb-60">
            <div class="container">
                <div class="section-title-3 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
                    <h2>{% trans "Chegirmali maxsulotlar" %}</h2>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <a href="{% url 'main:shop' %}"><img src="/static/assets/images/banner/banner-23.jpg" alt=""></a>
                            <div class="banner-content-10-position top-inc">
                                <div class="banner-content-10 banner-content-10-responsive">
                                    <h3>{% trans "Takrorlanmas" %}</h3>
                                    <h4>{% trans "dizayn" %}</h4>
                                </div>
                            </div>
                            <div class="banner-btn-1">
                                <a href="{% url 'main:shop' %}">{% trans "Maxsulotlar" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="row">
                            {% for product in price_off %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                                    <div class="product-img img-zoom mb-25">
                                        <a href="{% url 'main:shop' %}">
                                            <img src="{{product.image.url}}" alt="">
                                        </a>
                                        <div class="product-action-2-wrap">
                                            <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="{% url 'main:shop' %}">{{ product.name }}</a></h3>
                                        <div class="product-price">
                                            <div class="product-price">
                                                {% if product.old_price %}<span class="old-price">${{ product.old_price }}</span>{% endif %}
                                                <span class="new-price">${{ product.price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-logo-area pb-95">
            <div class="container">
                <div class="brand-logo-active swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="200">
                                <a href="#"><img src="/static/assets/images/brand-logo/brand-logo-1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="400">
                                <a href="#"><img src="/static/assets/images/brand-logo/brand-logo-2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="600">
                                <a href="#"><img src="/static/assets/images/brand-logo/brand-logo-3.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="800">
                                <a href="#"><img src="/static/assets/images/brand-logo/brand-logo-4.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="1000">
                                <a href="#"><img src="/static/assets/images/brand-logo/brand-logo-5.png" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="1200">
                                <a href="#"><img src="/static/assets/images/brand-logo/brand-logo-1.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock sitebar %}