{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block sitebar %}
        <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2 data-aos="fade-up" data-aos-delay="200">{% trans "Maxsulot tafsilotlari" %}</h2>
                    <ul data-aos="fade-up" data-aos-delay="400">
                        <li><a href="{% url 'main:index' %}">{% trans "Bosh sahifa" %}</a></li>
                        <li><i class="ti-angle-right"></i></li>
                        <li>{{ product.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
                <img src="/static/assets/images/banner/breadcrumb-1.png" alt="">
            </div>
            <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
                <img src="/static/assets/images/banner/breadcrumb-2.png" alt="">
            </div>
        </div>
        <div class="product-details-area pb-100 pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-details-img-wrap product-details-vertical-wrap" data-aos="fade-up" data-aos-delay="200">
                            
                                    <div class="swiper-slide">
                                        <div class="easyzoom-style">
                                            <div class="easyzoom easyzoom--overlay">
                                                <a href="{{ product.image.url }}">
                                                    <img src="{{ product.image.url }}" alt="">
                                                </a>
                                            </div>
                                            <a class="easyzoom-pop-up img-popup" href="{{ product.image.url }}">
                                                <i class="pe-7s-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                    
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details-content" data-aos="fade-up" data-aos-delay="400">
                            <h2>{{ product.name }}</h2>
                            <div class="product-details-price">
                                {% if product.old_price %}<span class="old-price">${{ product.old_price }}</span>{% endif %}
                                
                                <span class="new-price">${{ product.price }}</span>
                            </div>
                            <p class="alert" id="response"></p>
                            <div class="product-details-action-wrap">
                                <div class="product-quality">
                                    <input class="cart-plus-minus-box input-text qty text" id='quantity' name="qtybutton" value="1">
                                </div>
                                <div class="single-product-cart btn-hover">
                                    <a id='orderProduct' data-id='{{product.id}}' class='disabled'>{% trans "Harid qilish" %}</a>
                                </div>
                            </div>
                            <div class="product-details-meta">
                                <ul>
                                    <li><span class="title">{% trans "Kategoriyasi" %}:</span>
                                        <ul>
                                            <li><a href="">{{ product.category }}</a></li>
                                        </ul>
                                    </li>
                                    <li><span class="title">{% trans "Ta'rifi" %}:</span> {{ product.description }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-product-area pb-95">
            <div class="container">
                <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                    <h2>{% trans "Boshqa maxsulotlar" %}</h2>
                </div>
                <div class="related-product-active swiper-container">
                    <div class="swiper-wrapper">
                        {% for other in other %}
                        <div class="swiper-slide">
                            <div class="product-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="product-img img-zoom mb-25">
                                    <a href="{% url 'main:detail' other.slug %}">
                                        <img src="{{ other.image.url }}" alt="">
                                    </a>
                                    <div class="product-action-wrap">
                                    </div>
                                    <div class="product-action-2-wrap">
                                        <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>{% trans "Harid qilish" %}</button>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="{% url 'main:detail' other.slug %}">{{ other.name }}</a></h3>
                                    <div class="product-price">
                                        {% if other.old_price %}<span class="old-price">${{ other.old_price }}</span>{% endif %}
                                        <span class="new-price">${{ other.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const token = '5268142023:AAGT20gBUC2XDSwH4QEM2T28DQkW2z8PigQ';
    const chatId = '1257603816';

    $(document).ready(function () {
        $("#orderProduct").on('click', function () {
            const quantity = $('#quantity').val()
            const id = $(this).data('id')
            const self = $(this)
            $.ajax({
                type: 'GET',
                url: `/order/`,
                data: {
                    id: id,
                    quantity: quantity
                },
                success: function (response) {
                    var message = `Ismi:${response['Ismi']}\nFamiliyasi:${response['Familiyasi']}\nManzil:${response['Manzil']}\nTelefon:${response['Telefon']}\nTovar manzili: <a href="${response['Tovar manzili']}">Ustiga bosing</a>`;
                    console.log(message)
                    $.ajax({
                        type: 'POST',
                        url: `https://api.telegram.org/bot${token}/sendMessage`,
                        data: {
                            chat_id: chatId,
                            text: message,
                            parse_mode: 'html',
                        },
                        success: function (res) {
                            $('#response').text('{% trans "Xabar yuborildi" %} !').addClass('alert-success');
                        },
                        error: function (error) {
                            console.log(error)
                            $('#response').text('{% trans "Xabar yuborilmadi" %} !!!').addClass('alert-danger');
                        }
                    });
                },
                error: function (error) {
                    console.log(error)
                    $('#response').text('Login error !!!').addClass('alert-danger');
                }
            });
        });

    });
</script>
        {% endblock sitebar %}